#nav {
    padding-top: 20px;
    padding-bottom: 35px;
    margin-top: 0;
    border-bottom: 2px solid rgba(121, 3, 216, 0.908);
    background-color: white;
}

#brand {
    float: left;
    font-size: 2rem;
    margin-top: -15px;
    margin-left: 20px;
}

#route {
    float: left;
    margin-left: 25px;
}

#login {
    float: right;
}

#signup {
    float: right;    
    margin: 0 25px;
}



